@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#main-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(blue,pink);
}

#chat{
    width: 100%;
    height: 100%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}


#chat > :first-child {
    margin-top: auto !important;
    /* use !important to prevent breakage from child margin settings */
}

.msg-contact{
    border: 1px solid black;
    background-color: cornflowerblue;
    padding: 10px 20px;
    max-width: 60%;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 2%;
}

.msg-me{
    border: 1px solid black;
    background-color:goldenrod;
    padding: 10px 20px;
    max-width: 60%;
    margin-left: auto;
    margin-right: 10%;
    margin-bottom: 2%;
}

#reponse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    height: 8%;
    border-top: 1px solid black;
}

button{
    /* margin-top: 8%; */
    /* margin-bottom: 2%; */
    background-color: goldenrod;
    border: 1px solid black;
    padding: 10px 20px;
    color: black;
}